html{
    margin: 20px auto;
    /* height: 100%; */
}

body{
    background-color:#2E3034;
    width: 1000px;
    margin: 0px auto;
    padding: 0px;
    min-width: 800px;
}

header{
    position: relative;
    background-image: url(images/pod6.png);
    background-repeat: no-repeat;
    display: block; 
}

    h1{
        text-align: center;
        color: #FFF;
        margin: 0px auto;
    }
 
    #botNav{
        text-align: center;
    }
    
        #botNav ul{
            margin-bottom: 15px;
        }
    
            #botNav ul li{
                list-style-type: none;
                display: inline;
            }
    
            #botNav ul li:after{
                content: "  |  ";
                color: #FFF;
            }
            
            #botNav ul li:last-of-type:after{
                content: none;
            }
    
                #botNav ul li a{
                    text-decoration: none;
                    color: #FFF;
                    padding: 10px;
                    transition: 1s;
                }
    
                #botNav ul li a:hover{
                    color:  rgb(108, 184, 255);
                }
    
                #botNav ul li a:focus{
                    color: rgb(228, 155, 21);
                }
    
    #content{
        width: 90%;
        background-color: #2E3034;
        border-radius: 30px;
        border: 4px solid #1A69AD;
        margin: 30px auto;
        color: #d9d9d9;
        padding: 20px;
        font-size: 18px;
        overflow: auto;
    }

a{
    text-decoration: none;
    color: gold;
}

a:hover{
    color:#3D4045;
    background-color:gold;
}

#movies .row, .user{
    border: 4px solid rgb(49, 145, 255);;
    border-radius: 12px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

#search{
   margin: 0px auto;
   
}


p{
    font-family: Calibri
}

